*{
    padding: 0;
    margin:0;
   
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}
.container{
   display: flex;
   justify-content: center;
   height: 80vh;
   align-items: center; 
   margin-top: 10px;

}
.card{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0,2);
    display: flex;
    flex-direction: column;
    height: 21rem;
    margin: 1.9rem;
    overflow:hidden;
    width:15rem;
    backdrop-filter: blur(.10rem);
    background-color: rgba(245, 243, 243, 0.767);
    /* border: 1rem solid rgba(255, 255, 255, 0.120); */
    border: .10rem solid rgba(212, 212, 212, 0.897);
    color: var(--white-text);
}
.card h2{
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1rem;
    margin: 1rem 0;
    font-size: 2rem;

}
.img{
    padding: .9rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&display=swap');

.name{
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    letter-spacing: .1rem;
    color: rgb(26, 19, 19);
}
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');

.temp{
    font-size: 13px;
    letter-spacing: .1rem;
    color: rgb(12, 9, 9);  
    font-family: 'Arimo', sans-serif;
}
.weight{
    font-size: 13px;
    letter-spacing: .1rem;
    color: rgb(15, 10, 10); 
    font-family: 'Arimo', sans-serif; 
}
.container:hover{
    transform: scale(1.1);
}