*{
    padding: 0;
    margin:0;
   
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}
.container{
   display: flex;
   justify-content: center;
   height: 40vw;
   align-items: center; 
   margin: auto;


}
.card{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0,2);
    display: flex;
    flex-direction: column;
    height: 21rem;
    margin: 1.9rem;
    overflow:auto;
    padding: auto;
    width: 20rem;
    backdrop-filter: blur(.10rem);
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border: .10rem solid rgba(212, 212, 212, 0.897);
    color: var(--white-text);
}
.card h2{
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1rem;
    margin: 1rem 0;
    font-size: 2rem;

}
.img{
    padding: .9rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&display=swap');

.name{
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    letter-spacing: .1rem;
    color: rgb(26, 19, 19);
}
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');

.temp{
    font-size: 13px;
    letter-spacing: .1rem;
    color: rgb(12, 9, 9);  
    font-family: 'Arimo', sans-serif;
}
.weight{
    font-size: 13px;
    letter-spacing: .1rem;
    color: rgb(15, 10, 10); 
    font-family: 'Arimo', sans-serif; 
}
.container:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 992px) {
    .container {
        display: flex;
   justify-content: center;
   height: auto;
   align-items: center; 
   margin-top: 20px;
    }
    .card {
        width: 100%;
      }
}

@media screen and (max-width: 568px) {
    .container {
        display: flex;
   justify-content: center;
   height: auto;
   align-items: center; 
   margin-top: 20px;
    }
    .card {
        width: 100%;
      }
}
@media (max-width: 768px) {
    .card {
        height: 300px;
        width: 95vw;
    }
    .container {
        display: flex;
   justify-content: center;
   height: auto;
   align-items: center; 
   margin-top: 20px;
    }
  }

  @media screen and (max-width: 450px) {
    .container {
        display: flex;
   justify-content: center;
   height: auto;
   align-items: center; 
   margin-top: 20px;
    }
    .card {
        width: 100%;
        height: 350px;
      }
}
