.contenedor{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0,2);
    margin: 10px auto;
    height: 87vh;
    width: 40vw;
    backdrop-filter: blur(.10rem);
    background: linear-gradient(109.6deg, rgb(247, 202, 201) 20.6%, rgb(146, 168, 209) 85.9%);
    border: .10rem solid rgba(212, 212, 212, 0.897);
    color: var(--white-text);
    
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.titulo{
    margin: auto;
    padding: 1.5rem;
    font-family: 'Lobster', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.image{
    font-family: 'Gothic A1', sans-serif;
    padding: 5px;
}
.inputdiv {
    width: 300px;
    height: 30px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  .inputdiv input {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: larger;
  }
.inputdivhalf input {
    background-color: rgb(255, 255, 255);
    width: 143px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: larger;
  }
  .inputdivhalf input:first-of-type {
    margin-right: 5px;
  }
  
.inputdivhalf {
    width: 300px;
    height: 20px;
    margin: 10px auto;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

.li{
    border: 1px solid;
    list-style: none;
    border-radius: 2px;
    font-family: 'Gothic A1', sans-serif;
    padding: 3px;
    background-color: rgb(235, 225, 225);
    margin-left: 2px;
    display: flex;
    flex-wrap: wrap;
    
}
.ul{
    list-style: none;
}

 .life_span{
    margin: 2rem;
}


.boton{
    border: 1px solid transparent;
    border-radius: 2px;
    width: 120px;
    padding: 10px;
    display: flex;
    margin: 90px auto;
    
    background-color: white;
    font-family: 'Gothic A1', sans-serif;
    cursor: pointer;
    
}
.boton:hover{
    transform: scale(1.2);
    color: black;
}

input.danger{
      border: 1px solid red;
}
input:invalid {
    border: 1px dashed red;
}

input:valid {
    border: 1px solid;
} 
.error{
    font-size: 10px;
    color: rgb(233, 1, 1);
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.p{
    margin-top: 5px;
    font-family: 'Kanit', sans-serif;
    color:rgb(119, 20, 20)
    
} 
/* .todo{
    display: grid;
    grid-template-areas: "left right";
    max-width: 500px; 
    margin-left: 70px;
} */

@media screen and (max-width:780px) {
    .contenedor{
        width: 85vw;
        height: auto;

    }
}
@media screen and (max-width:745px) {
    .contenedor{
        width: 85vw;
        height: auto;

    }
}

