.container{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0,2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: auto;
    overflow:hidden;
    width: 50vw;
    backdrop-filter: blur(.20rem);
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
    border: .10rem solid transparent;

    
}
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Noto+Sans+Display:wght@200&display=swap');
.name{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 12px;
    backdrop-filter: blur(.10rem);
    color: var(--white-text);
    /* background-color: rgba(255, 241, 241, 0.767); */
   border: 1px solid transparent;
   border-radius: 5px;
   width: 50vh;

   
}
.temp{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.button{
    width: 100px;
    height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
    border-radius: 4px;
    box-shadow: inset rgb(121, 98, 98);
    transition: ease-out 0.3s;
    font-size: 15px;
    outline: none;
    margin: auto;
     cursor: pointer;     
}
.cont{
    backdrop-filter: blur(.10rem);  
}
.loading{
    display: flex ;
    justify-content: center;
    margin-top: 100px;
    
}
.loading::after{
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid white;
    border-top-color:  #c79c9c;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}
@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 90vw;
        height: 80vh;
        margin: 10px auto;
    }
    
}