
.dogCards{
    width: 60%;
    justify-content: center;
    text-align: center;
    margin: auto;
    
  }
  .dogsGrid{
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      gap: 15px;
      
      justify-content: center;
    
  }
  
  @media (max-width: 560px){
      .dogsGrid {  grid-template-columns: 80%;
        }
 }

 .temperamento{
    display: flex;
    border: 1px solid #c79c9c;
    border-radius: 15px;
    padding: 5px;
    background-color: #c79c9c;
    color: white;
    cursor: pointer;
   
 }
 .contenedor{
     display: flex;
     justify-content: space-between;
     margin-top: -30px;
    margin-left: 990px;
    align-items: center;
  
 }

 .orden{
     margin-right:-450px ;
     border: 1px solid #c79c9c;
     border-radius: 15px;
     padding: 5px;
     width: 70px;
     background-color: #c79c9c;
     color: white;
     cursor: pointer;
     
    
     
 }
.contenedor2{
    margin-left: 411px;
  align-items: center;
  margin-top: -27px
  
}
.contweight{
    margin-left: 511px;
    align-items: center;
    margin-top: 20px
}
.weight{
    margin-right:-150px ;
     border: 1px solid #c79c9c;
     border-radius: 15px;
     padding: 5px;
     width: 76px;
     background-color: #c79c9c;
     color: white; 
     cursor: pointer;
}
.button{
   
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    background-color: #c79c9c;
    color: white;
    cursor: pointer;
    
}
.button:hover{
    transform: scale(1.1);
    background-color: #c79c9c;
    color: white;

}
.conteButton{
 display: flex;
 justify-content: center;
 margin-top: -30px;
 margin-left: 430px;
}
.all{
    border: 1px solid black; 
    border-radius: 15px;   
    padding: 5px;
    background-color: #c79c9c;
    color: white;
    cursor: pointer;
    
}
.conteAll{
    margin-top: -27px;
    margin-left: 610px;
}
 