.background {
   background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") ;
   /* background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.123rf.com%2Fphoto_89195848_fondo-transparente-de-vector-con-dise%25C3%25B1o-plano-del-icono-de-perros.html&psig=AOvVaw1G74Te3AajGpR4fNN2uAXW&ust=1641662458253000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCODApOeToPUCFQAAAAAdAAAAABAV'); */
   position: fixed;
   height:100%;
   width: 100%;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;

  }
  
 
 @import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');
 .doggy{
    font-family: 'Moo Lah Lah', cursive;
    font-size: 100px;
    cursor: default;
   }

.patita{
    color: black;
    margin: 3rem;
}