.paginado{
    display:inline-block;
    grid-template-columns: repeat(auto-fill, 25px);
    gap: 2px;
    justify-content:center;
    margin-top: 2rem;
    margin-bottom: 0;
}
.number{
    
    color: rgb(3, 3, 3);
    background-color:rgb(230, 208, 208) ;
    text-decoration: none;
    list-style: none;
    display: inline;
    flex-grow: initial;
    font-size: 17px;
    font-style: normal;
    float: left;
    padding: 3px 4px;
    margin-left: 5px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    cursor:pointer;
    
    
}
.number:hover{
    transform: scale(1.3);
}